@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-winth: 768px) {
  h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  }
}

* {
  margin: 0;
  padding: 0;
}

* *::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

.is-hidden {
  display: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

#header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 59px;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    height: 80px;
  }
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
  }
}

.logo span {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .nav-contacts {
    display: none;
    position: absolute;
    z-index: 2;
    top: 59px;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ececec;
    background: #ffffff;
  }
  .nav-contacts.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: none;
    padding: 0;
    margin: 0;
  }
}

.nav {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav .item {
    text-align: center;
    margin-bottom: 40px;
  }
  .nav .item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item:first-child {
    margin-left: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .item:first-child {
    margin-left: 85px;
  }
}

@media screen and (max-width: 767px) {
  .nav .item.current {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item.current {
    margin-bottom: 0px;
  }
}

.nav .link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .nav .link {
    display: inline-block;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .link {
    font-size: 14px;
    line-height: 16px;
  }
}

.nav .link:hover, .nav .link:focus {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav .link:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .nav .link:after {
    bottom: -0.5px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .link:after {
    bottom: -0.5px;
  }
}

.nav .link.active::after {
  opacity: 1;
}

.nav .link.active {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close-menu {
  display: none;
}

.menu-button.is-open .icon-close-menu {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
  width: 24px;
  height: 16px;
}

.menu-button:hover {
  fill: #2196f3;
}

/*Контакты*/
.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    margin-left: 305px;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
}

.contacts-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .contacts-nav li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-nav li:nth-child(1) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contacts-nav li:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav li:nth-child(1) {
    padding-right: 30px;
    margin-bottom: 0px;
  }
}

.contacts-nav a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-nav a {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav a {
    font-size: 14px;
    line-height: 16px;
  }
}

.contacts-nav a:hover, .contacts-nav a:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-icon {
  fill: currentColor;
  padding-right: 10px;
}

.icon-email {
  width: 1.9em;
  height: 1.9em;
}

.icon-smartphone {
  width: 1.45em;
  height: 1.45em;
}

.features-section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    margin-bottom: 94px;
  }
}

.features li {
  width: 100%;
  height: 251px;
}

@media screen and (min-width: 768px) {
  .features li {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features li {
    width: 270px;
  }
}

.features li:nth-child(-n + 2) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features li:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.features li div {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features svg {
  width: 70px;
  height: 70px;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
  text-align: center;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Наша команда */
.commands {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .commands {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.commands-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commands-div h2 {
  padding-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .commands-div h2 {
    padding-bottom: 50px;
  }
}

.commands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .commands-list {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .commands-list {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.commands-list li {
  width: 100%;
  height: 622px;
  background: #ffffff;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .commands-list li:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .commands-list li {
    width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .commands-list li {
    width: 270px;
    height: 428px;
  }
}

@media screen and (max-width: 767px) {
  .commands-list li:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) and (min-width: 1200px) {
  .commands-list li {
    margin-bottom: 0px;
  }
}

.commands-list li img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .commands-list li img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .commands-list li img {
    width: 270px;
    height: 260px;
  }
}

.commands-text {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .commands-text {
    padding-bottom: 30px;
  }
}

.commands-text h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.commands-text p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

.social-list {
  padding-left: 74px;
  padding-right: 74px;
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .social-list {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients-div h2 {
  text-align: center;
}

.clients-list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

@media acreen and (min-width: 768px) {
  .clients-list {
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

.clients-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients-list li {
    margin: auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list li:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list li:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list li {
    margin-right: 0px;
  }
}

.clients-link {
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-link:hover, .clients-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.page-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer-div {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 76px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-div {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    margin-left: auto;
  }
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-footer-logo {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .div-footer-logo {
    margin-left: inherit;
  }
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.footer-logo span {
  color: #ffffff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-address {
  margin: auto;
}

.adress-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .adress-footer {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    width: 231px;
  }
}

.adress-footer a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 5px;
}

.adress-footer a:hover,
.adress-footer a:focus {
  color: #2196f3;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.footer-social-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-social-description {
    margin-right: auto;
  }
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}

.footer-social-link:hover, .footer-social-link:focus {
  background: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .subscription {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12px;
    margin-left: 93px;
  }
}

.subscription p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .subscription p {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription-input {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  background: #2f303a;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscription-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 358px;
  }
}

input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input [type="email"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-subscription {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 26px;
  padding-right: 31px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .button-subscription {
    margin-left: 12px;
  }
}

.button-subscription span {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-subscription svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Чем мы занимаемся */
.work {
  display: none;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .work-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-div h2 {
    text-align: center;
    padding-bottom: 50px;
  }
  .work-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work-ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .work-img img {
    position: relative;
  }
  .work-text {
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0px;
  }
  .work-text p {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .block-one {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.3))), url("../images/Img-overlay.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3)), url("../images/Img-overlay.jpg");
    max-width: 100%;
    height: 400px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .block-one {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.3))), url("../images/Img-overlay.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3)), url("../images/Img-overlay.jpg");
    max-width: 100%;
    height: 400px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .block-one {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.3))), url("../images/Img-overlay.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3)), url("../images/Img-overlay.jpg");
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.div-block-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-one-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .block-one-text {
    font-size: 44px;
    line-height: 60px;
  }
}

.button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  opacity: 0;
}

.modal {
  margin: 93px 15px;
  padding-top: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation-name: modalanim;
          animation-name: modalanim;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-animation-name: anim;
            animation-name: anim;
    -webkit-animation-duration: 250ms;
            animation-duration: 250ms;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    z-index: 2;
  }
}

.modal p {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal p {
    font-size: 20px;
    line-height: 23px;
  }
}

.modal-input {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-input li:not(:last-child) {
  padding-bottom: 10px;
}

.modal-input-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  padding-bottom: 4px;
}

.modal-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  color: #000000;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:hover, .input-text:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
  cursor: pointer;
}

.input-text:hover + .modal-input-svg,
.input-text:hover + .modal-input-svg, .input-text:focus + .modal-input-svg,
.input-text:focus + .modal-input-svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #000000;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:hover, .comment:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
  cursor: pointer;
}

textarea[name="comment"]::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea[name="comment"]::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  fill: #212121;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-left: 20px;
}

.lable-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-checkbox {
  margin-right: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.input-checkbox svg {
  display: inline-block;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + svg {
  background-image: url("../images/vector.svg");
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  fill: transparent;
  border-radius: 2px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 3px;
}

@media screen and (min-width: 768px) {
  .checkbox-text {
    font-size: 12px;
    line-height: 24px;
    padding-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
    line-height: 24px;
    padding-left: 8px;
  }
}

.checkbox-link {
  padding-left: 5px;
  padding-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .checkbox-link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox-link {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal-send {
  padding-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-button {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.send-button:hover, .send-button:focus {
  background: #188ce8;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  margin-right: 8px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 490px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-close:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  fill: currentColor;
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@-webkit-keyframes modalanim {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes modalanim {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.portfolio {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    margin-top: 94px;
    margin-bottom: 64px;
  }
}

.portfolio-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 362px;
  height: 91px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .portfolio-nav .last-port-nav {
    padding-right: 121px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-nav {
    width: 611px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-nav {
    width: 611px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
}

.portfolio-nav button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: 0px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-nav button:hover, .portfolio-nav button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .projects {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.projects li {
  width: auto;
  height: auto;
  background: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects li {
    width: 354px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .projects li {
    width: 370px;
  }
}

.projects li:hover, .projects li:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .projects li:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
}

.projects a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects a:hover .overlay,
.projects a:focus .overlay {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .overlay {
    width: 370px;
  }
}

.overlay p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
}

.projects-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.projects-text {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-text {
    padding-right: 12px;
  }
}

.projects-text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  padding-bottom: 4px;
}

.projects-text p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */